/* Container for the carousel */
.carousel-container {
    position: relative;
}

.alice-carousel__wrapper {
    height: 185px;
    overflow-x: auto;
}

/* Styling for navigation arrows */
.alice-carousel__prev-btn {
    position: absolute;
    top: 25%;
    width: 48px;
    left: -10px;
    transform: translate(-96%);
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alice-carousel__next-btn {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 25%;
    width: 48px;
    right: -100px;
    transform: translate(-96%);
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alice-carousel__prev-btn:hover,
.alice-carousel__next-btn:hover {
    background-color: #f0f0f0;
}

/* Adjust arrow icon color and size */
.alice-carousel__prev-btn p,
.alice-carousel__next-btn p {
    color: #B5B5B5;
    font-size: 24px;
    font-weight: bold;
}

/* Scrollbar styling */
.alice-carousel__wrapper::-webkit-scrollbar {
    /* width: auto; */
    scrollbar-width: none;
    height: 9px;
    background-color: #E1EAF0;
}

.alice-carousel__wrapper::-webkit-scrollbar-thumb {
    background-color: #2C8EFF;
    border-radius: 4px;
}

.alice-carousel__wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #2C8EFF;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
    display: none;
}